.cart-icon {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .cart-icon {
      margin-left: 0;
      margin-top: 10px;
      justify-content: flex-end;
    }
  }